@page
@model WebApplication2.Pages.MapModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Enaex GPS Test</title>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@latest/dist/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.css" />


    <style>
        html, body, #map {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <script src="https://unpkg.com/leaflet@latest/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.pm@latest/dist/leaflet.pm.min.js"></script>

    <div id="map" style="width: 100vw; height: 100vh"></div>

    <script>

        var map = L.map('map').setView([-23.0255393, -69.0803490], 13);
        mapLink = '<a href="http://www.esri.com/">Esri</a>';
        wholink = 'i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community';
        esri = L.tileLayer(
            'http://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                attribution: '&copy; ' + mapLink + ', ' + wholink,
                maxZoom: 20,
                maxNativeZoom: 17,
            });
        drawingLayer = L.featureGroup().addTo(map);
        L.control.layers({
            'esri': esri.addTo(map),
            "google": L.tileLayer('http://www.google.cn/maps/vt?lyrs=s@189&gl=cn&x={x}&y={y}&z={z}', {
                attribution: 'google'
            })
        }, { 'drawlayer': drawingLayer }, { position: 'topleft', collapsed: false }).addTo(map);

        map.pm.addControls({
            position: 'topleft',
            drawCircle: false,
        });


        
    </script>
</body>
</html>

